@model IEnumerable<EURIS.Entities.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p style="text-align:right">

    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  <tr>
    <th>@Html.DisplayNameFor(model => model.Code)</th>
    <th>@Html.DisplayNameFor(model => model.Description)</th>
    <th>@Html.DisplayNameFor(model => model.Price)</th>
    <th>@Html.DisplayNameFor(model => model.Picture)</th>
    <th></th>
  </tr>

@foreach (var item in Model) {
<tr>
  <td>@Html.DisplayFor(modelItem => item.Code)</td>
  <td>@Html.DisplayFor(modelItem => item.Description)</td>
  <td>@Html.DisplayFor(modelItem => item.Price)</td>
  <td><img src="images/products/@item.Picture"   height="60"/></td>
  <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
  </td>
</tr>
}
</table>
